---
import Layout from '@layouts/Layout.astro'
---

<Layout title="Contact Us | Huddle">
    <h1 class="text-4xl my-32 font-bold uppercase text-center text-huddle-red">Contact us</h1>
	
    <div class="flex flex-col space-y-10">

        <div class="flex flex-col items-center">
            <img class="text-huddle-red w-12 h-12" src="/images/Facebookfb.svg" alt="Facebook">
            <span>Sinulid Productions</span>
        </div>
        <div class="flex flex-col items-center">
            <img class="text-huddle-red w-12 h-12" src="/images/tiktok.svg" alt="Facebook">
            <span>@sinulidprod</span>
        </div>
        <div class="flex flex-col items-center">
            <img class="text-huddle-red w-12 h-12" src="/images/youtube.svg" alt="Facebook">
            <span>Sinulid Productions</span>
        </div>
    </div>
</Layout>