---
import Creator from "@components/Creator.astro";
import Layout from "@layouts/Layout.astro";

import creators from "../creators.json";
---

<Layout title="The Creators | Huddle">
  <main class="flex justify-center items-center flex-1">
    <div class="flex my-20 space-y-20 flex-col items-center p-8 max-w-7xl">
      <h1 class="text-4xl font-bold uppercase text-center text-huddle-red">
        The Creators
      </h1>

      <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-12">
        {creators.map((creator) => <Creator creator={creator} />)}
      </div>
    </div>
  </main>
</Layout>
