---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home | Huddle">
	<main class="flex justify-center items-center h-[calc(100vh-88px)]">
		<div class="flex flex-col space-y-8 items-center p-8">
			<h1 class="text-4xl font-bold uppercase text-center text-huddle-red">Are you ready to <br class="hidden lg:block"> choose your own spark?</h1>
			<button type="button" class="text-huddle-red text-xl uppercase bg-white py-4 px-10 rounded-full border border-huddle-red w-fit">Play the game now!</button>
		</div>
	</main>
</Layout>