---
import Layout from '@layouts/Layout.astro'
---

<Layout title="The Story | Huddle">
    <main class="flex justify-center items-center">
		<div class="flex flex-col  items-center p-8 max-w-7xl">
			<h1 class="text-4xl my-32 font-bold uppercase text-center text-huddle-red">The Story</h1>
			
            <p class="text-justify">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat eos maiores asperiores sit odio sed laborum commodi non deserunt laudantium blanditiis, accusamus sequi cumque eligendi dolore incidunt natus, nulla harum unde exercitationem amet! Reiciendis cupiditate inventore aut eius iste consequatur quo voluptate sit magnam aspernatur? Repellendus temporibus sit quaerat, repudiandae sed iste iusto maiores necessitatibus fugiat magnam quasi vel minima natus praesentium, suscipit quidem dicta atque odio laborum possimus cum expedita a dolor molestiae. Nobis officia, deleniti nesciunt minus porro doloremque enim nihil cum placeat temporibus error sapiente. Autem commodi, possimus ipsa obcaecati hic labore quos pariatur aperiam error minima!
            </p>

            <p class="text-justify">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi corrupti natus rem temporibus quis pariatur? Molestiae quas, beatae nemo labore veritatis aperiam, dignissimos culpa excepturi et, inventore aspernatur veniam facilis officiis perferendis ullam consequatur commodi architecto. Beatae, magni voluptatem. Iure eum quasi sunt non accusamus temporibus cum laborum praesentium porro.
            </p>
		</div>
	</main>
</Layout>